th, td {
  padding: 60px;
}
table{
  margin-top: 50px;
}

body {
    background-color: black;
  }

  #homebouton{
    width: 4%;
    height: 100%;
    background-color: brown;
    font-size: 1.5em;
    border-style: outset;
    padding: initial;
    transition: 0.5s;
    float: left;
    text-align: center;
    vertical-align: 50%;
  }

  .photoalbum{
    border: 3px;
    border-color: blueviolet;
    height: 400px;
    width: auto;
  }

  .photoalbum:hover{
    height: auto;
    width: auto;
    max-width: 1600px;
  }

  #homebouton:hover {
    background-color: rgb(204, 78, 78)
  }
  #homebouton:active {
    background-color: rgb(165, 101, 42);
    border-style:inset;
  }

  .header{
  background-color: rgb(46, 44, 44) ;
  padding-top: 10px;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  }
  
  .boutonbg{
    margin: 0 auto;
    display: inline-flex;
    background-color: rgb(56, 29, 29) ;
    height: 50px;
    width: 100%;
    
  }
  
  h1 {
    color: white;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em
  }

  h2 {
    color: red;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7em
  }
  .bouton {
    width: 15%;
    height: 100%;
    background-color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    border-style: outset;
    padding: initial;
    transition: 0.5s;
    float: left;
    text-align: center;
    vertical-align: 50%;
    text-decoration: none;
  }
  .bouton:hover {
    background-color: rgb(204, 78, 78)
  }
  .bouton:active {
    background-color: rgb(165, 101, 42);
    border-style:inset;
  }
  .index{
    background-image: url("images/SadPianoBG.jpg");
    background-size: 100%;
    background-position-y: 200px;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .Biographie{
    background-image: url("images/YoungBG.jpg");
    background-size: 100%;
    background-position-y: 250px;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
  .Photos{
    background-image:linear-gradient(white, black);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .AlbumsNotables{
    background-image: url("images/SadPianoBG.jpg");
    background-size: 100%;
    background-position-y: 200px;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .Discographie{
    background-image: url("images/herbie pianoafro.jpg");
    background-size: 100%;
    /* background-position-y: 200px; */
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .Contact{
    background-image: url("images/moderncpu.jpg");
    background-size: 100%;
    background-position-y: -10px;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .lefttext
  {
    width: 35%;
    padding-top: 50px;
    font-size: 1.2em;
    align-content: center;
    float: left;
    color: rgb(197, 167, 149);
  }
.hyperlienbio
{
  color: lightblue;
}

  .biographie
{
  width: 40%;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
h3{
  color: lemonchiffon;
  font-size: 1.5em;
}
