h1{

}
h2{
    
}
body {
    background-color: black;
  }

  .header{
    background-color: rgb(46, 44, 44) ;
  padding-top: 50px;
  }
  
  .bontonbg{
    background-color: rgb(56, 29, 29) ;
  }
  
  h1 {
    color: white;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em
  }

  h2 {
    color: red;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7em
  }
  .bouton {
    width: 80px;
    background-color: brown;
    font: bold;
    color: white;
    border-style: outset;
    padding: 25px 50px;
    transition: 0.5s

  }
  .bouton:hover {
    background-color: rgb(204, 78, 78)
  }
  .bouton:active {
    background-color: rgb(165, 101, 42);
    border-style:inset;
  }
  .index{
    background-image: url("images/SadPianoBG.jpg");
    background-size: 100%;
    background-position-y: 200px;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }